@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* border: solid 1px red; */
}

body {
  background-color: #dbdbdb;
}

.pequeño {
  max-width: 60px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  transition: max-width 1s ease-in-out;}

.pequeño:active{
  max-width: 100%; 
}

.grande {
  max-width: 200px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
::-webkit-scrollbar {
  width: 8px; 
  height: 12px; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px; 
  color: #035aa66c;
}

::-webkit-scrollbar-thumb:hover {
  background: #182537; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-track:hover {
  background: #ddd; 
}

::-webkit-scrollbar-button {
  display: none;
}
.slide-in-icon {
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
